@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    background-image: url(wp2458340.webp);
    background-repeat: no-repeat;
    
 
  height: 300px;
    background-size: cover;
    color: black;

}
.container{
    text-align: center;
}
.phonecontainer{
 display: flex;
 justify-content: center;
 gap: 10%;
 margin-left: 18%;

}
img{
    height: 35%;
}
h1{
    background-color: powderblue;
}
a{
    text-decoration: none;
    color: black;
}